<div class="container-fluid animazione">
  <div class="container">
    <h1 class="display-5">About me</h1>
    <div class="coolDiv p-3 pe-0 pb-4 p-md-4 pb-lg-5 tech-card animazione">
      <div class="container-fluid row">
        <div class="d-flex flex-wrap flex-md-nowrap px-0">
          <div class="col-md-6">
            <h2 class="display-5 fw-bold px-0 mb-4 text-start">Ciao, sono Simone</h2>
            <p class="fs-4 pe-4 mb-md-4">Ho 23 anni e vedo la tecnologia come uno stumento per l'espressione di se stessi. <br> <br> Sono stato educato secondo il concetto che il progresso è inevitabile, di conseguenza va accolto e non temuto. <br> <br>Durante l'adolescenza mi sono interessato di arti visive digitali, e dopo il diploma ho lavorato per circa un anno e mezzo come fotografo/videomaker. <br> <br>Dall'inizio del 2024, dopo qualche altra esperienza lavorativa, mi sono interessato allo Sviluppo Web.</p>
          </div>
          <div class="img-container col-md-6">
            <img src="../../../assets/jpg/IMG_7784-Modifica.jpg" alt="foto" class="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
