
$background-color: #292929;
$alternative-color: #353535;
$text-color: #fbfbef;
$border-radius: 28px;

.bg-main {
  background-color: $background-color;
  color: $text-color;
}

.bg-alternative {
  background-color: $alternative-color;
  color: $text-color;
}

.text-main {
  color: $text-color;
}

.rounded-28 {
  border-radius: $border-radius;
}

.card-body {
  color: $text-color;
}

.nav-tabs .nav-link {
  color: $text-color;

  &.active {
    background-color: $alternative-color;
  }
}

.coolDiv {
  margin-top: 150px;
  margin-bottom: 150px;
}


