<div id="bordo">
  <div class="container-fluid" id="container-nav">
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container">
        <div>
          <a class="navbar-brand text-light" routerLink="">
            <img src="../../../assets/logo-colori.png" alt="logo" width="48" class="ms-3 my-2 ms-sm-1">
          </a>
        </div>
        <button
          class="navbar-toggler mt-1 me-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          data-bs-theme="dark"
          aria-controls="navbarCollapse"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active" routerLink="web">Web</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active" routerLink="tech">Tech</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active" routerLink="about">About</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active" routerLink="curriculum">Esperienze</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</div>
