#container-nav{
  margin-bottom: 80px;
}

#navbarCollapse {
  animation: fadeIn 2s forwards;
}

a {
  font-size: 1.5rem;
}

#navSx {
  display: flex;
  padding-left: 16px;
}

#logoNome {
  font-size: 1.1rem;
}


#navSx .navbar-brand {
  display: flex;
  align-items: center;
}

#navSx img {
  margin-right: 8px;
}

#logoNome {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {}

@media (min-width: 2560px) {
  a {
    font-size: 2.4rem; /* Ingrandisci il font per maggiore leggibilità */
  }

  #navSx {
    padding-left: 580px; /* Aumenta il padding per mantenere proporzioni */
  }

  #logoNome {
    font-size: 1.5rem; /* Ingrandisci il font del nome del logo */
  }

  #navSx img {
    width: 64px; /* Ingrandisci il logo */
    margin-right: 16px; /* Aumenta lo spazio tra il logo e il nome */
  }

  .navbar-nav .nav-item {
    margin-right: 32px; /* Aumenta lo spazio tra gli elementi del menu */
  }

  #navbarCollapse {
    margin-left: 535px;
  }

  #container-nav{
    margin-bottom: 100px;
  }
}

