#container-nav{
  margin-bottom: 80px;
}

#bordo{
  border: 1px solid red;
}

#navbarCollapse {
  animation: fadeIn 2s forwards;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



