
  <div class="container" id="container-nav">
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container">
        <div id="navSx">
          <a class="navbar-brand text-light animazione" routerLink="">
            <img src="../../../assets/logo-colori.png" alt="logo" id="logo">
            <p id="logoNome">Simone <br> Acquadro</p>
          </a>
        </div>
        <button
          class="navbar-toggler mt-1 me-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          data-bs-theme="dark"
          aria-controls="navbarCollapse"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active ancore" routerLink="web" id="a-web">Web</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active ancore" routerLink="tech" id="a-tech">Tech</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active ancore" routerLink="about">About</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <a class="nav-link text-light active ancore" routerLink="curriculum">Esperienze</a>
            </li>
            <li class="nav-item ms-auto me-3">
              <button class="orange-btn" role="button" routerLink="login">Login</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
